	*{
	  margin: 0;
	  list-style: none;
	  text-decoration: none;
	  border: none;
	  background: transparent;
	  outline: 0;
	  padding: 0;
	  --text-color:#555;
	}
	.auto-margin{
	  display: block;
	  margin: auto;
	}
	body {
  font-family: Arial, sans-serif;
  background-color: #eee;
}
.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.text-black{
  color: var(--text-color);
}

.layoting {
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 background: white;
}
.layoting .form {
  max-width: 100%;
  height: 100vh;
  margin-top: 2em;
/*  background-color: #ff0;*/
  padding: 0;
  width: 80%;
  margin: auto;
  box-sizing: border-box;
}
.close{
 /* color: red;*/
  right: 26px;
 /* top: 30px;*/
 font-weight: bold;
}

.caption{
  /*text-align: center;*/
  color: #fff;
  margin: 0 0 5px;
  padding: 9px;
  background: orangered;
  display: flex;
}

.close:active{
  color: red;
  background: rgba(255,255,255,.5);
}
.caption span{
  display: block;
 /* span:!important*/
  padding-left: 7px;
}
form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
 .kategori {
  background: #bbb;
 /* padding-right: 17px;*/
}
/*
.label-lategori{
 margin-top: -12px;
 
}*/

.tabel-form td{
  padding-left: 0;
  padding-right: 0;
 /* background: orange;*/
  border-bottom: 1px solid #aaa;
}
.tabel-form tr td:first-child{
  /* display: flex;
  align-items: flex-end; */
}
.tabel-form tr td:first-child label{
}


.form input[type="text"], .form input[type="number"], select, option,textarea ,.form .tgl{
  width: 80%;
  padding: 4px;
  width: 100%;
 /* margin-bottom: 5px; */
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
/*  background: yellow;*/
}

.tgl.tanggal{
  background: #bbb;
}

.layoting select{
  border-radius: 0;
}

.form .btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

textarea{
  border: 1px solid #ccc;
}

.form .btn:active {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}


table {
  text-transform: capitalize;
  width: 100%;
  color: var(--text-color);
  margin-top: 10px;
  padding: 0 20px;
  border-collapse: collapse;
}

table th{
  padding: 3px 0;
}
table td {
  text-align: left;
  padding:8px 5px;
  cursor: pointer;
}

.row{
  display: inline-block;
}

th{
  font-weight: normal;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
th, td{
  margin: auto;
  background-color: white;
  
}
  
.overlay{
  position: relative;
}

.overlay > div{
  width: 100%;
  position: absolute;
  top: -20px;
  /*background: seagreen;*/
}

.masuk {
  display: none;
}


 #jenis{
  color: white;
  outline: none;
  width: 80vw;
  display: block;
  margin:1.5em auto 1.3em;
}
.red{
  background: rgba(250,0,0,.8);
  border: 1px solid maroon;
}
.teal{
  border: 1px solid green;
  background: limegreen;
}

.btn.edit{
  background: teal;
}

#muncul{
  border: none;
  border-radius: 50%;
  background: teal;
  color: white;
  padding: 5px 11px;
  position: absolute;
  bottom: 5px;
  right: 25px;
  z-index: 5;
}

.pemasukan .nominal{
  color: teal;
}
.pengeluaran .nominal{
  color: red;
}
tr .nominal{
  text-align: right;
}

nav{
  color: white;
}
nav ul{
  display: flex;
  justify-content: space-between;
}

nav ul a{
  flex: 1;
  text-transform: capitalize;
  text-align: center;
  padding: 12px;
}

.header{
  background: orangered;
  padding: 10px 5px;
  
}
.teing a{
  color: white;
}

nav ul {
  background: white;
}

nav .teing{
  background: orangered;
}

ul a span{
  display: block;
}


.tgl{
  padding: .2em;
}
.tgl span{
  margin: auto;
  color: #333;
}

.bulan-tahun{
  font-weight: 400;
}

.dinten{
  border-radius: 2px;
  background: #888;
  text-align: center;
  color: white;
}


.confir-data-kosong{
  display: block;
  color: #999;
  padding-top: 50%;
  font-weight: bold;
  text-align: center;
}


.id-transaksi{
  inset :0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  /* font-size: 0; */
}


.detile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.layoting form td {
  border: none;
  padding: .2em 0;
}

.salin-sampah i{
  margin-left: 9px;
}

.i-trash{http://127.0.0.1:3000/index.html
  display: none;
}

.wadah{
  height: 100vh;
}




/* bagian side bar */
.text-oren{
  color: orangered;
  font-weight: bold;
  font-size: 1.5em;
}

.side-bar .ul-side-bar ul{
   color: black;
  display: block;
}

.side-bar li{
  padding: 10px 20px;
}
.side-bar li i{
  margin-right: 15px;
  font-weight: bold;
}